<button (click)="onClickUpdate()">Actualizar Post (PUT)</button>
<button (click)="onClickDelete()">Borrar Post (DELETE)</button>
<div>
  <!-- <button (click)="onClickPost()">Peticion POST</button> -->
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div>
      <label>Titulo</label>
      <input type="text" formControlName="title">
    </div>
    <div>
      <label>Body</label>
      <input type="text" formControlName="body">
    </div>
    <div>
      <label>User Id</label>
      <input type="text" formControlName="userId">
    </div>
    <input type="submit" value="Enviar">
  </form>
</div>
<div class="posts">
  <div class="post" *ngFor="let post of arrPosts" (click)="onClick(post.id)">
    <h4>{{post.title | uppercase}}</h4>
    <p>ID: {{post.id}}</p>
    <p>USER-ID: {{post.userId}}</p>
    <p>BODY: {{post.body}}</p>
  </div>
</div>